h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: unset;
}

article p, article {
    font-size: 18px;
}

.post-date {
    color: grey;
}

.blog-post h1 {
    margin: 0;
}

.blog-post img {
    max-width: 100%;
}
