h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: unset;
}

article p, article {
    font-size: 18px;
}

.post-date {
    color: grey;
}

.blog-post h1 {
    margin: 0;
}

.blog-post img {
    max-width: 100%;
}

.float{
    position:fixed;
    width:auto;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#0c9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 16px -2px;
    padding-left: 20px;
    padding-right: 20px;
}

.my-float{
    margin-top: 13px;
    font-size: 18px;
}
