h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: unset;
}

article p, article {
    font-size: 18px;
}

.post-date {
    color: grey;
}

.blog-post h1 {
    margin: 0;
}

.blog-post img {
    max-width: 100%;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}
