{{ define "main" }}
<div class="container" role="main">
  <br><br><br><br><br>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
          <h1>{{ .Title }}</h1>
          <ul id="list">
            {{ range .Data.Pages }}
            <li>{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }} -
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
          </ul>
      </article>
    </div>
  </div>
</div>
{{ end }}
