{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
	<div class="post-categories">
	{{- range (.GetTerms "categories") }}
	  <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
	{{- end }}
	</div>
        <h1>{{ .Title }}</h1>
	{{- if .Date }}
	<div class="post-date">
        {{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}
	</div>
	{{- end }}
        <hr>
        {{ .Content }}

        {{ if .Params.tags }}
        <div class="post-tags">
	  <i class="fa fa-tags"></i> Tags:
	  {{- range (.GetTerms "tags") }}
	    <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
	  {{- end }}
        </div>
        {{ end }}
        <br>
      </article>
    </div>
  </div>
</div>
{{ end }}
